<app-header></app-header>
<table class="table table-striped table-responsive">
    <tbody>
        <tr>
            <td>First Name: </td>
            <td>{{studentData?.body?.firstName}}</td>
            <td>Last Name: </td>
            <td>{{studentData?.body?.lastName}}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{studentData?.body?.mobileNo}}</td>
            <td>Date Of Birth: </td>
            <td>{{studentData?.body?.dateOfBirth}}</td>
        </tr>
    </tbody>
</table>